<nav class="navbar">
  <section class="navbar__title">
    <span>The Planets</span>
  </section>
  <section class="navbar__links">
    <a *ngFor="let planet of planets" [ngClass]="planet.name.toLowerCase()" (click)="onPlanetSelect(planet.name)">
      {{ planet.name }}
    </a>
  </section>


  <div *ngIf="isMobileView" (click)="toggleOverlay()">
    <svg class="navbar__hamburger" [ngClass]="{'active': isOverlayVisible}" xmlns="http://www.w3.org/2000/svg" width="24" height="17">
      <g class="hamburger-fill">
        <path d="M0 0h24v3H0zM0 7h24v3H0zM0 14h24v3H0z"></path>
      </g>
    </svg>
  </div>  

  <section *ngIf="isMobileView" class="mobile-nav" [ngClass]="{'active': isOverlayVisible}">

    <ul class="mobile-nav__links-container">
      <li *ngFor="let planet of planets" (click)="onPlanetSelect(planet.name)">
        <span class="planet-icon" [ngClass]="planet.name.toLowerCase()" *ngIf="isMobileView"></span>
        <a>{{ planet.name }}</a>
        <img src="../../../assets/icon-chevron.svg" class="navbar__chevron" alt="Menu">
      </li>
    </ul>

  </section>

</nav>