<nav class="navbar">
  <section class="navbar__title">
    <span>The Planets</span>
  </section>
  <section class="navbar__links">
    <a *ngFor="let planet of planets" [routerLink]="planet.route" [ngClass]="planet.name.toLowerCase()">
      {{ planet.name }}
    </a>
  </section>


  <div *ngIf="isMobileView" (click)="toggleOverlay()">
    <svg class="navbar__hamburger" [ngClass]="{'active': isOverlayVisible}" xmlns="http://www.w3.org/2000/svg" width="24" height="17">
      <g class="hamburger-fill">
        <path d="M0 0h24v3H0zM0 7h24v3H0zM0 14h24v3H0z"></path>
      </g>
    </svg>
  </div>  

  <section *ngIf="isMobileView" class="mobile-nav" [ngClass]="{'active': isOverlayVisible}">

    <ul class="mobile-nav__links-container">
      <li *ngFor="let planet of planets">
        <span class="planet-icon" [ngClass]="planet.icon" *ngIf="isMobileView"></span>
        <a [routerLink]="planet.route">{{ planet.name }}</a>
        <img [routerLink]="planet.route" src="../../../assets/icon-chevron.svg" class="navbar__chevron" alt="Menu">
      </li>
    </ul>

  </section>

</nav>