// Imports and Variables
@import '../../../styles/variables';
@import '../../../styles/typography';

.planet-viewer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 6rem;
    width: 100%;

    .mobile-info-action-btns {
        display: none;

        @media (max-width: 666px) {

            display: flex;
            width: 100%;

            .mobile-btn-list {
                display: flex;
                justify-content: space-around;
                align-items: center;
                list-style: none;
                gap: 2rem;
                margin-bottom: 2rem;
                border-bottom: 1px solid $color-gray-blue;
                width: 100%;

                .overview-btn-mobile,
                .internal-structure-btn-mobile,
                .surface-btn-mobile {
                    background-color: transparent;
                    color: $color-white;
                    font-family: $font-spartan;
                    font-size: 9px;
                    line-height: $h4-line-height;
                    letter-spacing: 1.93px;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 1rem 1rem;
                    opacity: 0.5;
                    cursor: pointer;
                }
            }
        }
    }



    @media (max-width: 910px) {
        flex-direction: column;
        margin-top: 0;

        .planet-image-container {
            justify-content: center;
            padding-right: 0;
            margin-left: 5rem;
            margin-bottom: 3rem;
            margin-top: 1.5rem;
        }
    }

    .planet-image-container {
        flex: 1;
        flex-shrink: 1;
        display: flex;
        justify-content: flex-end;
        padding-right: 5rem;
        align-items: center;
    }

    .planet-facts-container {
        flex: 2;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2rem;
        padding: 0 15rem;
        word-wrap: break-word;
        max-width: 50%;

        @media (max-width: 1200px) {
            padding: 0 10rem;
        }

        @media (max-width: 1000px) {
            padding: 0 6rem;
        }

        .planet-details {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .planet-name {
                font-family: $h1-font-family;
                font-size: $h1-font-size;
                line-height: $h1-line-height;
                color: $color-white;
                text-transform: uppercase;

                @media (max-width: 910px) {
                    font-family: $h2-font-family;
                    font-size: $h2-font-size;
                    line-height: $h2-line-height;
                    color: $color-white;
                    text-transform: uppercase;
                }

                @media (max-width: 666px) {
                    text-align: center;
                }
            }

            .planet-text-body {
                font-family: $body-font-family;
                font-size: $body-font-size;
                line-height: $body-line-height;
                color: $color-white;
                opacity: .8;

                @media (max-width: 910px) {
                    font-size: 11px;
                }

                @media (max-width: 666px) {
                    text-align: center;
                }
            }

            .source-container {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 0.5rem;
                font-family: $font-spartan;
                color: $color-white;
                opacity: .4;

                @media (max-width: 910px) {
                    padding-bottom: 2rem;
                }

                .wiki-link {
                    color: $color-white;
                }

                .source-icon {
                    cursor: pointer;
                }
            }
        }

        .planet-info-actions {
            display: flex;
            flex-direction: column;
            gap: 0.7rem;

            .overview-btn,
            .internal-structure-btn,
            .surface-btn {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 21.875rem;
                height: 3rem;
                color: $color-white;
                background-color: $color-dark-blue;
                border: 1px solid $color-gray;
                font-family: $font-spartan;
                font-size: $h3-font-size;
                line-height: $h4-line-height;
                letter-spacing: $h3-letter-spacing;
                font-weight: bold;
                text-transform: uppercase;

                @media (max-width: 910px) {
                    font-size: 9px;
                }

                &:hover {
                    background-color: $color-teal;
                    cursor: pointer;
                }
            }

            .btn-numbers {
                flex-shrink: 0;
                width: 3rem;
                text-align: center;
                opacity: .5;
            }

            @media (max-width: 666px) {
                display: none;
            }
        }

        @media (max-width: 910px) {
            max-width: none;
            padding: 0 1rem;
            flex-direction: row;
            justify-content: center;
            gap: 3rem;
            align-items: center;

            .planet-details {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                @media (max-width: 666px) {
                    gap: 1rem;
                }

                .source-container {
                    justify-content: flex-start;

                    @media (max-width: 666px) {
                        justify-content: center;
                    }
                }
            }
        }

        @media (max-width: 666px) {
            flex-direction: column;
        }
    }
}

.planet-info-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5rem 10rem;
    gap: 3rem;

    @media (max-width: 910px) {
        gap: 1rem;
        padding: 0 1rem;   
    }

    @media (max-width: 666px) {
        flex-direction: row;
        flex-wrap: wrap; 
    }

    .info-box {
        color: $color-white;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border: 1px solid $color-gray-blue;
        flex-shrink: 1;
        width: 100%;

        @media (max-width: 910px) {
            gap: 0;
            flex-direction: column;
        }

        @media (max-width: 666px) {
            flex-direction: row;
            justify-content: space-between;

            .info-title, .info-data {
                width: auto;
            }
        }
        
        .info-title {
            font-family: $font-antonio;
            line-height: $h4-line-height;
            font-size: 0.87rem;
            opacity: .5;
            text-transform: uppercase;

            @media (max-width: 910px) {
                font-size: 1rem;
            }

            @media (max-width: 666px) {
              padding: 1rem;
            }
        }

        .info-data {
            font-family: $font-antonio;
            line-height: $h2-line-height;
            font-size: calc((18.25vw - 2.5rem) / 7);
            font-weight: bold;

            @media (max-width: 666px) {
                font-size: 18px;
            }
        }
    }
}