<section class="planet-viewer-container">
    <section class="mobile-info-action-btns">
        <ul class="mobile-btn-list">
            <li><button class="overview-btn-mobile">Overview</button></li>
            <li><button class="internal-structure-btn-mobile">Structure</button></li>
            <li><button class="surface-btn-mobile">Surface</button></li>
        </ul>
    </section>

    <!-- Planet Image -->
    <figure class="planet-image-container">
        <img src="../../../assets/planet-mercury.svg" alt="">
    </figure>

    <!-- Planet Fact Details -->
    <article class="planet-facts-container">
        <section class="planet-details">
            <h1 class="planet-name">Mercury</h1>
            <p class="planet-text-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad modi, ratione
                blanditiis cum accusamus eveniet?
                Deserunt, a fugiat suscipit amet maiores repellendus, distinctio laboriosam pariatur itaque omnis sunt
                ex
                officia? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus voluptate eum ullam cum
                voluptas
                quos id quibusdam. Accusantium, tempora ipsum fugit voluptatibus quo id facere! Doloremque quo quam
                placeat
                blanditiis.</p>

            <span class="source-container">
                <p class="source">Source: <a class="wiki-link" href="">Wikipedia</a></p>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="source-icon" href="">
                    <path fill="#FFF"
                        d="M11.34.66C10.9.22 10.37 0 9.75 0h-7.5C1.63 0 1.1.22.66.66.22 1.1 0 1.63 0 2.25v7.5c0 .62.22 1.15.66 1.59.44.44.97.66 1.59.66h7.5c.62 0 1.15-.22 1.59-.66.44-.44.66-.97.66-1.59v-7.5c0-.62-.22-1.15-.66-1.59zM10 6.25a.467.467 0 01-.305.46.544.544 0 01-.195.04.465.465 0 01-.352-.149L8.023 5.476 3.852 9.648a.481.481 0 01-.352.149.48.48 0 01-.352-.149l-.796-.797a.48.48 0 01-.149-.351.48.48 0 01.149-.352l4.172-4.172-1.125-1.125c-.162-.15-.198-.333-.11-.546A.467.467 0 015.75 2H9.5c.135 0 .253.05.352.148A.48.48 0 0110 2.5v3.75z" />
                </svg>
            </span>
        </section>

        <section class="planet-info-actions">
            <button class="overview-btn"><span class="btn-numbers">01</span>Overview</button>
            <button class="internal-structure-btn"><span class="btn-numbers">02</span>Internal Structure</button>
            <button class="surface-btn"><span class="btn-numbers">03</span>Surface Geology</button>
        </section>
    </article>
</section>
<section class="planet-info-container">
    <!-- Rotation Time -->
    <article class="info-box">
        <h3 class="info-title">Rotation Time</h3>
        <p class="info-data">24.6 Hours</p>
    </article>

    <!-- Revolution Time -->
    <article class="info-box">
        <h3 class="info-title">Revolution Time</h3>
        <p class="info-data">365.24 Days</p>
    </article>

    <!-- Radius -->
    <article class="info-box">
        <h3 class="info-title">RADIUS</h3>
        <p class="info-data">6,371 km</p>
    </article>

    <!-- Average Temperature -->
    <article class="info-box">
        <h3 class="info-title">AVERAGE TEMP.</h3>
        <p class="info-data">15°C</p>
    </article>
</section>