$color-white: #FFFFFF;
$color-dark-blue: #070724;
$color-gray-blue: #38384F;
$color-gray: #838391;
$color-cyan: #419EBB;
$color-sun-yellow: #EDA249;
$color-purple: #6F2ED6;
$color-orange-brown: #D14C32;
$color-red-orange: #D83A34;
$color-rust: #CD5120;
$color-teal: #1EC2A4;
$color-royal-blue: #2D68F0;